body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    line-height: 1.2;
    font-size: 14px;
}

.head-wrapper {
    width: 100%;
    min-height: 540px;
    background: #1a1915 url("../img/mobile/Vector\ Smart\ Object.png") no-repeat center;
    background-size: cover;
    text-align: center;
    margin: 0 auto 70px auto;
}




.head-wrapper a, .company-name, .header-title, .header-subtitle {
    text-decoration: none;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 320px;
    margin-bottom: 150px;
}

.main-buttons {
    display: flex;
    justify-content: center;
    list-style: none;
}


.main-buttons li {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    width: 94px;
    height: 40px;
    line-height: 40px;
}

.main-buttons li:hover {
    transition: border-color .5s linear;
    border-color: rgb(255, 255, 255);
}

.company-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    animation: zoomIn .5s linear 1 alternate;
}
@keyframes zoomIn {
    from {
      opacity: 0;
      /* -webkit-transform: scale3d(0.3, 0.3, 0.3); */
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}

.header-title {
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-subtitle {
    width: 220px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: lighter;
    margin: 0 auto;
}

.button-find {
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 78, 80);
    color: #a0a0a0;
    min-width: 280px;
    height: 40px;
    font-weight: bold;
    animation: color 1s linear infinite alternate-reverse;
}
@keyframes color {
    to {
        background-color: rgb(159, 67, 69);
        color: #ffffff;
    }
}


main {
    box-sizing: border-box;
    margin: 0 auto;
    width: 320px;
    text-align: center;
}


.main-title {
  font-size: 22px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
}

.partner-list {
    list-style: none;
}

.partner-item {
    width: 284px;
    text-align: center;
    margin: 0 auto;
}

.partner-item:hover .partner-name{
    color: rgb(123, 198, 123);
    transition: color .3s;
}

.partner-item:hover .partner-photo::after {
    transform: rotateZ(360deg);

}

.partner-photo {
    position: relative;
    width: 121px;
    margin: 0 auto 20px auto;
}

.partner-photo::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 37px;
    height: 37px;
    transition: transform .4s;

}

.partner-item:nth-child(1) .partner-photo::after {
    background: #ff4e50 url(../img/mobile/tv-icon-1.png) no-repeat center;
}
.partner-item:nth-child(2) .partner-photo::after {
    background: #ffa507 url(../img/mobile/icon-2.png) no-repeat center;
}
.partner-item:nth-child(3) .partner-photo::after {
    background: #1cd7ad url(../img/mobile/icon-3.png) no-repeat center;
}
.partner-item:nth-child(4) .partner-photo::after {
    background: #4e73db url(../img/mobile/icon-4.png) no-repeat center;
}

.partner-name{
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-bottom: 15px;
}

.partner-descr {
    color: rgb(102, 102, 102);
    font-family: "Roboto";
    width: 220px;
    margin: 0 auto;
}




















.button-see {
    border: 2px solid rgb(255, 78, 80);
    background-color: #ffffff;
    border-radius: 20px;
    min-width: 284px;
    height: 44px;
    color: rgb(255, 78, 80);
    font-weight: bold;
}



@media (max-width: 767px) {
    nav {
        margin-bottom: 30px;
        height: 195px;
        flex-direction: column;
    }
    .main-buttons {
        margin-top: 20px;
    }
    .header-title {
        margin-bottom: 15px;
    }
    .header-subtitle {
        margin-bottom: 15px;
    }
    .main {
        padding: 0 18px;

    }
    .main-title {
        margin-bottom: 20px;
    }
    .partner-item {
        margin-bottom: 30px;
    }
}


@media (min-width: 768px){
    .head-wrapper {
        width: 100%;
        min-height: 700px;
    }

    nav {
        box-sizing: border-box;
        flex-direction: row-reverse;
        align-items: center;
        width: 768px;
        padding-top: 35px;
    }

    .header-title {
        width: 492px;
        font-size: 50px;
        margin-bottom: 35px;
    }

    .header-subtitle {
        width: 405px;
        font-size: 24px;
        margin-bottom: 35px;
    }
    
    main {
        width: 768px;
    }

    .main-title {
        margin-bottom: 30px;
    }

    .partner-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 492px;
        margin: 0 auto 35px auto;
    }

    .partner-item {
        width: 236px;
        text-align: center;
    }
    
    .one {
        order:0;
    }
    .two {
        order:2;
    }
    .three {
        order:1;
    }
    .four {
        order:3;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    nav {
        padding: 35px 45px 0 45px;
    }
    .partner-item:not(:nth-last-child(odd)){
        margin-bottom: 60px;
    }
}

@media (min-width: 1440px) {
    .head-wrapper {
        width: 100%;
    }
    nav {
        width: 942px;
        margin-bottom: 170px;
    }
    main {
        width: 942px;
    }
    .partner-list {
        flex-wrap: nowrap;
        width: 942px;
        margin: 0 auto 40px auto;
    }
}